<div class="sidebar">

    <div class="logo">
        <h2>AI Threat</h2>
        <span>Detection System</span>
    </div>

    <ul class="menu">

        <li><a href="{{ url_for('dashboard') }}"><i class="fa-solid fa-house"></i> Dashboard</a></li>

        <li><a href="{{ url_for('upload') }}"><i class="fa-solid fa-upload"></i> Upload</a></li>

        <li><a href="{{ url_for('history') }}"><i class="fa-solid fa-clock-rotate-left"></i> History</a></li>

        <li><a href="{{ url_for('security_tools') }}"><i class="fa-solid fa-toolbox"></i> Security Tools</a></li>

        <li><a href="{{ url_for('threat_intel') }}"><i class="fa-solid fa-globe"></i> Threat Intelligence</a></li>

        <li><a href="{{ url_for('qr_scan') }}"><i class="fa-solid fa-qrcode"></i> QR Scanner</a></li>

        <li><a href="{{ url_for('live_monitor') }}"><i class="fa-solid fa-desktop"></i> Live Monitoring</a></li>

        <li><a href="{{ url_for('threat_database') }}"><i class="fa-solid fa-database"></i> Threat Database</a></li>

        <li><a href="{{ url_for('analytics') }}"><i class="fa-solid fa-chart-line"></i> Analytics</a></li>

        <li><a href="{{ url_for('users_page') }}"><i class="fa-solid fa-users"></i> Users</a></li>

        <li><a href="{{ url_for('logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>

    </ul>

</div>